<div th:fragment="navbar" class="container-fluid position-relative">
    <div class="position-absolute end-0 me-5 d-flex align-items-center">
        <span th:text="${user.getUsername()}" class="me-2"></span>
        <form th:action="@{/logout}" method="post" class="d-inline">
            <button type="submit" class="btn btn-link p-0">
                <i class="fas fa-sign-out-alt fs-4 text-danger"></i>
            </button>
        </form>
    </div>
    <h1 class="navbar-brand mx-auto mb-0">Mon tableau de bord</h1>
</div>