<div th:fragment="search-form" id="search" class="mt-4 mb-4">
    <h2 class="text-danger">Rechercher un objet</h2>
    <form th:action="@{/dashboard}" method="get"
          class="p-4 border border-danger rounded shadow-sm bg-light w-100">
        <div class="mb-3">
            <input type="text" name="keyword" id="keyword" class="form-control w-100" placeholder="Mot-clé" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-danger w-100">Rechercher</button>
        </div>
    </form>
</div>
