/* dashboard.css */
.description-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    padding-right: 10px;
    flex-grow: 1;
}